@import '../node_modules/ngx-toastr/toastr';

@font-face {
    font-family: 'Quicksand-Light';
    src: url('./fonts/Quicksand-Light.ttf');
}
@font-face {
    font-family: 'Quicksand-Regular';
    src: url('./fonts/Quicksand-Regular.ttf');
}
@font-face {
    font-family: 'Quicksand-Medium';
    src: url('./fonts/Quicksand-Medium.ttf');
}
@font-face {
    font-family: 'Quicksand-Bold';
    src: url('./fonts/Quicksand-Bold.ttf');
}
*{
    font-family: 'Quicksand-Regular';
    font-size: 0.9rem;
    
}
body {
    /* background-image: url("../src/img/Reflectare.jpeg");
    background-repeat: no-repeat; */
}
.material-icons-outlined{
    /* margin-right: 5px; */
    font-size: 21px;
}
#table-cross{
    width: 75%;
}
#table-cross td{
    padding: 1px;
    width: 40px;
}
.input-format{
    width: 40px !important;
    height: 40px !important;
}