<app-modal *ngIf="showModal"></app-modal>
<app-nav-bar class="fixed-top" [showBtnCadastrarPalavras]="false"></app-nav-bar>
<div class="container-fluid mt-nav">
    <div class="row">
        <div class="row border-bottom mt-1 pb-3">
            <div class="col-2 d-inline-block">
                <label for="categoria" class="form-label">Categoria:</label>
                <select id="categoria" class="form-select" aria-label="Selecione o tipo">
                    <option value="" selected>Todas</option>
                    <option value="{{categoria.descricao}}" *ngFor="let categoria of arrCategoria">{{categoria.descricao}}</option>
                </select>
            </div>
            <div class="col-1 d-inline-block">
                <label for="qtd-imagens" class="form-label">Qtd Imagens:</label>
                <select id="qtd-imagens" class="form-select" aria-label="Selecione a quantidade"
                [(ngModel)]="qtdSelect">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
            </div>
            <!-- <div class="col-2 d-inline-block">
                <label for="exampleFormControlInput1" class="form-label">Serie Escolar:</label>
                <select id="exampleFormControlInput1" class="form-select" aria-label="Selecione o tipo">
                    <option selected></option>
                    <option value="Quinta Série">Quinta Série</option>
                    <option value="Sexta Série">Sexta Série</option>
                    <option value="Oitava Série">Oitava Série</option>
                </select>
            </div> -->
            <div class="col-2 d-inline-block">
                <button *ngIf="showStartGame" id="iniciar" type="submit" class="btn btn-outline-info btn-iniciar" (click)="iniciarJogo()">
                    <span class="material-icons-outlined">sports_esports</span>
                    <span>Novo Jogo</span>
                </button>
                <button *ngIf="!showStartGame" id="iniciar" type="submit" class="btn btn-outline-warning btn-iniciar" (click)="finalizarJogo()">
                    <span class="material-icons-outlined">close</span>
                    <span>Finalizar</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 d-inline-block">
            <div class="container">
                <div class="col-4 text-center mt-3 d-inline-block">
                    <p>
                        <span class="material-symbols-outlined">timer</span>
                        <span class="align-super">Tempo</span>
                    </p>
                    <p class="mb-0">{{ tempoRestante }}</p>
                </div>
                <div class="col-4 text-center mt-3 d-inline-block">
                    <p>
                        <span class="material-symbols-outlined">ads_click</span>
                        <span class="align-super">Tentativas</span>
                    </p>
                    <p class="mb-0">{{ jogadas }}</p> 
                </div>
                <div class="col-4 text-center mt-3 d-inline-block">
                    <p>
                        <span class="material-symbols-outlined">thumb_up</span>
                        <span class="align-super">Acertos</span>
                    </p>
                    <p class="mb-0">{{ totalAcerto }}</p>
                </div>            

                <div class="legenda"> 
                  <!-- <button type="button" (click)="reiniciarJogo()">Reiniciar jogo</button>   -->
                  <!-- <p class="tempo" *ngIf="!fimDeJogo; else fim">{{ tempoRestante }}</p>  -->
                  
                  <ng-template #fim>
                    <p class="tempo">{{ fimDeJogoMsg }}</p>
                  </ng-template>
                  
                  <!-- <p>Tentativas: {{ jogadas }}</p>     -->
                </div>
                  
                <!-- <p class="pontuacao">{{ pontuacao }}</p>   -->
                
                <div class="jogo-memoria" *ngIf="cartas">    
                    <div *ngFor="let carta of cartas" 
                        (click)="viraCarta(carta)" 
                        [ngClass]="[(carta.estaVirada)? 'carta flip desabilitado' : 'carta', travarCartas? 'desabilitado' : '']">
                        <img class="carta-frente" [src]="carta.img" alt="Frente da carta">
                        <img class="carta-verso" src="../../assets/img/reflectare_logo.png" alt="Verso da carta">
                    </div>
                </div>                
            </div> 
        </div>
        <div class="col-4 d-inline-block">
            <h1 class="text-center mt-3">
                <span class="material-symbols-outlined">school</span>
                Aprendendo
                <span class="material-symbols-outlined">school</span>
            </h1>
            <h4 class="mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae voluptas libero, amet cum veniam voluptates odit id fugit, numquam veritatis facilis, labore neque laborum repudiandae voluptatem minima voluptate quaerat? In!</h4>
        </div>
    </div>
</div>