<div class="container mt-5">
  <div class="col-8 border rounded p-3 m-auto">
    <h2>Login</h2>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Senha:</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="col-6 d-inline-block">
      <button type="submit" class="btn btn-primary" (click)="login()">Acessar</button>
    </div>
    <div class="col-3 d-inline-block">
      <button type="button" class="btn btn-link w-100 text-end">Esqueci a senha</button>
    </div>
    <div class="col-3 d-inline-block">
      <button type="button" class="btn btn-link w-100 text-end pe-0" tooltip="Realizar cadastro">Cadastre-se aqui</button>
    </div>
  </div>
</div>
