<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <div class="row border-bottom mt-1 pb-3">
        <div class="col-2 d-inline-block">
            <label for="exampleFormControlInput1" class="form-label">Categoria:</label>
            <select id="exampleFormControlInput1" class="form-select" aria-label="Selecione o tipo">
            <option selected></option>
            <option value="Português">Português</option>
            <option value="História">História</option>
            </select>
        </div>
        <div class="col-2 d-inline-block">
            <label for="exampleFormControlInput1" class="form-label">Serie Escolar:</label>
            <select id="exampleFormControlInput1" class="form-select" aria-label="Selecione o tipo">
                <option selected></option>
                <option value="Quinta Série">Quinta Série</option>
                <option value="Sexta Série">Sexta Série</option>
                <option value="Oitava Série">Oitava Série</option>
            </select>
        </div>
        <div class="col-2 d-inline-block">
            <button id="iniciar" type="submit" class="btn btn-success btn-iniciar">Iniciar</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <table class="table table-borderless m-auto" id="table-cross"></table>
        </div>
        <div class="col-6">
            <table id="tb-dicas" class="table bt-0">
                <thead>
                    <th colspan="2" class="border-top-0 m-0 p-0">
                        <h3 class="p-0 m-0">Dicas</h3>
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let dica of inputJson; let i = index">
                        <td class="w-td-index fw-bold">{{i}}.</td>
                        <td>{{dica.clue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
