<app-modal *ngIf="showModal"></app-modal>
<app-nav-bar class="fixed-top" [showBtnCadastrarPalavras]="false"></app-nav-bar>
<div class="container-fluid mt-nav text-center">
    <div class="m-auto">
        <div class="btn-home d-inline-block shadow p-3 mr-5" (click)="navToPalavraCruada()">
            <img src="" alt="">
            <p class="fs-4">Palavras <br> Cruzadas</p>
        </div>
        <div class="btn-home d-inline-block shadow p-3" (click)="navToJogoMemoria()">
            <img src="" alt="">
            <p class="fs-4">Jogo da <br> Memória</p>
        </div>
    </div>

</div>
